<h2><%= @greeting %> <%= @user.first_name %>,</h2>
<p>Here is your token:</p>
<p><%= @password_reset.reset_token %></p>
<p>Please enter the token as instructed in the app, in order to complete the password reset process.</p>
<p><i>If you did not request your password to be reset, you can ignore this email.</i></p>
<p>The token will expire in 1 hour.</p>
<p>Thank you! :)</p>
<p>Sincerely,</p>
<h2>Your Banana App Family</h2>
