<h2><%= @greeting %> <%= @user.first_name %>,</h2>
<p>This is to let you know that your password for Banana App has been reset.</p>
<p><i>If you did not authorize this change, please let us know immediately by responding to this email.</i></p>
<p>Otherwise, you can ignore it :)</p>
<p>Thank you!</p>
<p>Sincerely,</p>
<h2>Your Banana App Family</h2>